# Terraform/OpenTofu
*.tfstate
*.tfstate.*
.terraform/
crash.log
tofu.*.backup
terraform.tfvars
*.tfvars
!*.example.tfvars
baseline.json
tfplan

# Env / secretos
.env
.env.*
*.pem
*.key

# Lambda build artifacts
functions/order_timeout_canceller/package/*
!functions/order_timeout_canceller/package/.gitkeep
functions/order_timeout_canceller/_build/*
!functions/order_timeout_canceller/_build/.gitkeep

# Docker
*.log

# IDE
.idea/
.vscode/
*.swp

# Sistema
Thumbs.db
.DS_Store